# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
dev_env/
emotion_env/

# Dataset (too large)
data/
hf_dataset/

# Training outputs
outputs_transformer/
**/checkpoint-*/

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# Temp files
*.tmp

# OS
.DS_Store

drift_env/